---
- name: Install packages which require powertools repo enabled
  become: true
  ansible.builtin.dnf:
    name:
      - doxygen # C++ documentation
      - gperf # Qt build dependency
    enablerepo: powertools
    state: present

- name: Install required packages
  ansible.builtin.dnf:
    name:
      # Compression utilities
      - zstd
      - p7zip
      - p7zip-plugins
      # Download utilities
      - curl # for downloads
      - wget # for downloads
      - jq
      - dos2unix # used by update_codens.sh
      # Documentation utilities
      # Installed above - doxygen # for building documentation
      - graphviz # for building documentation
      - texlive-latex # for building documentation
      - texlive-latex-bin # for building documentation
      - texlive-dvips # for building documentation
      - texlive-dvips-bin # for building documentation
      - texlive-cm # for building documentation
      - texlive-collection-fontsrecommended # for building documentation
      - ghostscript # for building documentation (doxygen is becoming a bit of a pain...)
      # - texlive-collection-fontsextra # for building documentation
      # - texlive-collection-mathextra # for building documentation
      - rsync # for syncing documentation
      - bison # Qt build dependency
      - flex # Qt build dependency
      - diffutils # for diffing large results in conquest tests
      - xorg-x11-utils # for xdpyinfo
      - glx-utils # for glxinfo
      - mesa-dri-drivers # for OpenGL to work inside XDummy
      # Our python 3.7 build requires openssl 1.0
      - compat-openssl10
      - cmake # Use the system cmake to work around SSL issues in bootstrapping conan
      - patchelf # Needed when building app distributions
    state: present
    enable_plugin: crb
  become: true

- name: Install Conan system wide
  become: true
  ansible.builtin.pip:
    name: "conan=={{ conan_version }}"
    executable: /usr/bin/pip3
    state: present

- name: Ensure /usr/local/bin is in sudo secure_path
  become: true
  ansible.builtin.copy:
    dest: /etc/sudoers.d/10-secure_path
    mode: '0440'
    content: 'Defaults secure_path = /sbin:/bin:/usr/sbin:/usr/bin:/usr/local/bin'
    validate: 'visudo -cf %s'
