---
- name: Install required tools
  chocolatey.chocolatey.win_chocolatey:
    name:
      # Compression utilities
      - 7zip.install # for installer creation
      - 7zip.portable
      # Download utilities
      - curl # for downloads
      - wget # for downloads
      - jq
      # Documentation utilities
      - doxygen.install # for building documentation
      - graphviz # for building documentation
      # Required for some scripts? Putting here but could go in ccdc.cpp_cli_dev_tools role
      # - sysinternals
      - diffutils # for diffing large results in conquest tests
      - sigcheck # for checking signatures on files
      # This is required for Code Signing in Azure
      - dotnet-6.0-sdk
      # Required for building C++ projects
      - conan # for package management
    state: present

# This is required for Code Signing in Azure using Dotnet installed above
- name: Add Nuget source for AzureSignTool
  ansible.windows.win_command: dotnet nuget add source https://api.nuget.org/v3/index.json -n nuget.org
  register: addsource
  failed_when:
    - addsource.rc != 0
    - '"Provide a unique name" not in addsource.stdout'
- name: Install AzureSignTool
  ansible.windows.win_command: dotnet tool install --global azuresigntool --version {{ azuresigntool_version }}
  register: installtool
  failed_when:
    - installtool.rc != 0
    - '"is already installed" not in installtool.stderr'

# Required to connect to the MsSQL Db server to run tests
# A backup of this is stored in Artifactory ccdc-3rdparty-windows-runtime-exes/msodbcsql-11-x64.msi
- name: Download MsSQL driver
  ansible.windows.win_package:
    path: https://go.microsoft.com/fwlink/?linkid=2121206
    arguments: "IACCEPTMSODBCSQLLICENSETERMS=YES"
